# Python
__pycache__/
*.pyc

# Dataset
data/
creditcard.csv

# Model files
*.pkl

# Database
*.db

# Local tooling
transactions.db
.venv/
node_modules/
__pycache__/

# Mac
.DS_Store

# Virtual env
venv/
